@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-slate-900 text-slate-100 antialiased;
}

a {
  @apply text-primary-400 hover:text-primary-300;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.4);
}
